#title {
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-size: 54px;
}

#description {
	text-align: center;
	font-family: 'EB Garamond', serif;
	font-size: 30px;
}

#survey-form {
	width: 94%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0px auto;
	padding: 4px;
}

label {
	font-family: 'EB Garamond', serif;
	font-size: 22px;
}