#title {
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-size: 54px;
}

#description {
	text-align: center;
	font-family: 'EB Garamond', serif;
	font-size: 30px;
}

#survey-form {
	width: 94%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0px auto;
	padding: 4px;
	background-color: white;
}

#personal-info {
	margin-top: 10px;
	margin-left: 15px;
}

#questions {
	margin-top: 10px;
	margin-left: 15px;
}

label {
	font-family: 'EB Garamond', serif;
	font-size: 22px;
}

textarea {
	margin-top: 20px;
	margin-left: 15px;
}

button {
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 10px;
	background-color: rgba(10, 115, 255, 0.5);
	color: white;
	width: 115px;
	height: 45px;
	border-radius: 5%;
	font-size: 20px;
}

#paradigm {
	display: inline-block;
	margin-top: 10px;
}

#level {
	display: inline-block;
	margin-top: 10px;
}

body {
	background-color: #8DC7D3;
}